---
import MarkdownPreview from "@/markup/MarkdownPreview.astro";
import PageContent from "@/page/Content.astro";
import PageDate from "@/page/Date.astro";
import PageTitle from "@/page/Title.astro";
import SpookyRootLayout from "@/layout/SpookyRoot.astro";
import { getSortedBlogPosts } from "@/blog/posts";

const posts = await getSortedBlogPosts();
---

<SpookyRootLayout>
  <section slot="headsup" class="mb-20">
    <div
      class="text-highlight mb-2 font-serif text-3xl text-shadow-[0_0_40px_rgba(255,255,255,0.4)]"
    >
      Hi, I'm Eric. I'm a software engineer, and this is where I write my complaints.
    </div>
    <p>This blog explores the crazy blend of ethics, software, and shit we call technology.</p>
  </section>

  {
    posts.map((post) => (
      <article class="mb-20">
        <PageTitle>
          <a class="no-underline" href={post.url}>
            {post.title}
          </a>
        </PageTitle>
        <PageDate publishDate={post.publishDate} modifiedDate={post.modifiedDate} />
        <PageContent>
          <MarkdownPreview html={post.html} readMoreHref={post.url} />
        </PageContent>
      </article>
    ))
  }
</SpookyRootLayout>
