---
import Footer from "@/layout/Footer.astro";
import Header from "@/layout/Header.astro";
import RootLayout from "@/site/Root.astro";
import { SITE_NAME } from "@/site/meta";

export type Props = {
  content?: { title?: string; description?: string };
};

const { content = {} } = Astro.props;
const mainContentId = "spookysoftware-main-content";
const titlePrefix = content.title ? `${content.title} | ` : "";
const fullTitle = `${titlePrefix}${SITE_NAME}`;
---

<RootLayout content={{ ...content, title: fullTitle }}>
  <div class="mx-auto flex max-w-4xl flex-col">
    <a
      href={`#${mainContentId}`}
      class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-full p-1 opacity-0 transition focus:translate-y-0 focus:opacity-100 focus:ease-in motion-reduce:transition-none"
    >
      Jump to Content
    </a>
    <div class="px-5">
      <Header />
      <slot name="headsup" />
      <main id={mainContentId} class="mb-20">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</RootLayout>
